<banner></banner>
<div class="list clearfix">
    <dl class="col-xs-3">
        <dt><i class="fa fa-bell"></i></dt>
        <dd>车商城</dd>
    </dl>
    <dl class="col-xs-3">
        <dt><i class="fa fa-bell"></i></dt>
        <dd>分期购车</dd>
    </dl>
    <dl class="col-xs-3">
        <dt><i class="fa fa-bell"></i></dt>
        <dd>团购活动</dd>
    </dl>
    <dl class="col-xs-3">
        <dt><i class="fa fa-bell"></i></dt>
        <dd>找二手车</dd>
    </dl>
</div>
<div class="ban">
    <img ng-src="Content/img/heng.jpg" alt="">
</div>
<div class="server">
    <h4>车主服务</h4>
    <div class="nav clearfix">
        <dl class="col-xs-3">
            <dt><i class="fa fa-car"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-check"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-address-book"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-address-card"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-book"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-building"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-dashboard"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-deaf"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-edit"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-eject"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-facebook-square"></i></dt>
            <dd>油卡充值</dd>
        </dl>
        <dl class="col-xs-3">
            <dt><i class="fa fa-fa"></i></dt>
            <dd>油卡充值</dd>
        </dl>
    </div>
</div>
<div class="buying mt10">
    <h4><p><span>13</span>:<span>13</span>:<span>13</span></p>限时抢购</h4>
    <hiscroll></hiscroll>
</div>
<div class="activity mt10">
    <h4>车主服务<p>更多活动 <i class="fa fa-angle-right"></i></p></h4>
    <div class="sheng clearfix">
        <dl class="col-xs-4">
            <dt>
                <h5>测深价炫富</h5>
                <p>升价大PK</p>
            </dt>
            <dd><img src="Content/img/sheng_03.jpg" alt="sheng"></dd>
        </dl>
        <dl class="col-xs-4">
            <dt>
            <h5>测深价炫富</h5>
            <p>升价大PK</p>
            </dt>
            <dd><img src="Content/img/sheng_03.jpg" alt=""></dd>
        </dl>
        <dl class="col-xs-4">
            <dt>
            <h5>测深价炫富</h5>
            <p>升价大PK</p>
            </dt>
            <dd><img src="Content/img/sheng_03.jpg" alt=""></dd>
        </dl>
    </div>
</div>
<div class="car mt10 clearfix">
    <h4>猜你喜欢<p>更多<i class="fa fa-angle-right"></i></p></h4>
    <car></car>
</div>