<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img ng-src="Content/img/ban.jpg" alt="ban">
        </div>
        <div class="swiper-slide">
            <img ng-src="Content/img/ban.jpg" alt="ban">
        </div>
        <div class="swiper-slide">
            <img ng-src="Content/img/ban.jpg" alt="ban">
        </div>
        <div class="swiper-slide">
            <img ng-src="Content/img/ban.jpg" alt="ban">
        </div>
        <div class="swiper-slide">
            <img ng-src="Content/img/ban.jpg" alt="ban">
        </div>
        <div class="swiper-slide">
            <img ng-src="Content/img/ban.jpg" alt="ban">
        </div>
        <div class="swiper-slide">
            <img ng-src="Content/img/ban.jpg" alt="ban">
        </div>
    </div>
    <div class="swiper-pagination">
    </div>
</div>