<div class="type clearfix">
    <dl class="col-xs-6">
        <dt><img ng-src="Content/img/car_03.jpg" alt=""></dt>
        <dd>
            <h5>上汽大众-全选旅途</h5>
            <p>上汽大众-全选旅途享2年0利率</p>
            <label>1元 <s>1.44万</s></label>
        </dd>
    </dl>
    <dl class="col-xs-6">
        <dt><img ng-src="Content/img/car_03.jpg" alt=""></dt>
        <dd>
            <h5>上汽大众-全选旅途</h5>
            <p>上汽大众-全选旅途享2年0利率</p>
            <label>1元 <s>1.44万</s></label>
        </dd>
    </dl>
    <dl class="col-xs-6">
        <dt><img ng-src="Content/img/car_03.jpg" alt=""></dt>
        <dd>
            <h5>上汽大众-全选旅途</h5>
            <p>上汽大众-全选旅途享2年0利率</p>
            <label>1元 <s>1.44万</s></label>
        </dd>
    </dl>
    <dl class="col-xs-6">
        <dt><img ng-src="Content/img/car_03.jpg" alt=""></dt>
        <dd>
            <h5>上汽大众-全选旅途</h5>
            <p>上汽大众-全选旅途享2年0利率</p>
            <label>1元 <s>1.44万</s></label>
        </dd>
    </dl>
</div>